<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ day }} Classes</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="text-gray-100 flex flex-col min-h-screen bg-gray-900">
    <div class="container mx-auto p-6 text-center">
        <h1 class="text-4xl font-bold mb-6">{{ day }}'s Classes</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            {% for class in classes %}
                <div class="p-6 bg-gray-800 rounded-lg shadow-lg">
                    <h2 class="text-2xl font-bold">{{ class.subject }}</h2>
                    <p>Teacher: {{ class.teacher }}</p>
                    <p>Room: {{ class.room }}</p>
                    <p>Time: 
  {{ class.start_time.strftime('%I:%M %p') }} - 
  {{ class.end_time.strftime('%I:%M %p') }}
</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <footer class="text-center p-4 mt-auto">
        <p class="text-gray-300">Developed by Md. Rofaz Hasan Rafiu</p>
    </footer>
</body>
</html>
